@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #caeb66;
  --color-secondary: #03373d;
  --color-accent: #8fa748;
  --color-info: #3b82f6;
  --color-success: #26ae60;
  --color-warning: #f97316;
  --color-error: #e83330;
  --color-neutral: #067a87;
  --color-base-100: #f0f3f6;
  --color-base-200: #eaeced;
  --color-primary-content: #0f172a;
  --color-base-100: #dadada;
  --color-base-200: #606060;
  --color-blue-200: #c3dfe2;
}

* {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background: #eaeced;
  min-height: 100vh;
}
